html {
    size: *;
    background: transparent;
    overflow: visible!important;
}
body {
    transform: scale(0);
    transition: transform(back-out, 600ms);
    overflow: visible!important;
}
body.shown {
    transform: scale(1);
    transition: transform(back-out, 600ms);
    visibility: visible;
}

body.hidden {
    transform: scale(0);
    transition: transform(back-in, 600ms);
    visibility: hidden;
}
section#sec_main{
    padding: 36dip;
    margin: auto auto;
    margin-bottom: 0;
    horizontal-align: center;
    overflow: visible;
}
#theme_view{
    overflow: visible;
    width:200px;
    height:100px;
}
section#sec_menu{
    width: 100%;
    height: 36dip;
    z-index: 5;
    margin: auto auto;
    margin-top: 0;
    horizontal-align: center;
}
button#minimize {
    background-image: url("minimize.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4dip;
    padding: 0;
    margin: 0;
    width: 40dip;
    height: 40dip;
    outline: blue glow 0;
    margin-top: 30dip;
    color: #000;
}

button#minimize:hover {
    outline: blue glow 4dip;
    transition: outline(linear, 300ms);
}

button#close {
    background-image: url("close.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4dip;
    padding: 0;
    margin: 0;
    width: 40dip;
    height: 40dip;
    outline: blue glow 0;
}

button#close:hover {
    outline: blue glow 4dip;
    transition: outline(linear, 300ms);
}

button#setting {
    background-image: url("setting.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4dip;
    padding: 0;
    margin: 0;
    width: 40dip;
    height: 40dip;
    outline: blue glow 0;
}

button#setting:hover {
    outline: blue glow 4dip;
    transition: outline(linear, 300ms);
}

#menu-button {
    display: block;
    z-index:10;
    size: 32dip;
    cursor: pointer;
    padding: 2dip;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5dip;
    foreground-size: cover;
}

#menu-button:hover {
    outline: blue glow 4dip;
    transition: outline(linear, 1000ms);
}
popup.menu {
    prototype: MenuPopup url("res:menu-popup.tis");
    background-color: transparent; // must be exactly transparent to create transparent window 
    width: 200dip;
    height: 150dip;
    cursor: pointer;
    padding: 18dip; // room for the shadow 
    cursor: default;
    margin: 2dip; // offset from anchor element
    border: 1dip solid #ddd;
    var(shape-color): rgba(255, 255, 255, 0.5); // shape background color
}

popup.menu>.content {
    display: block;
    margin: 0;
    width: 200dip;
    height: 150dip;
    horizontal-align: center;
    text-align: center;
    size: *;
}