body {
  margin: *;
  padding: 0;
  width:400dip;
  height:200dip;
  horizontal-align: center;
  flow: vertical;
  vertical-align: middle;
  font-size: 10pt;
  font-family: "Segoe UI", Tahoma, sans-serif;
  overflow: visible;
}
.main{
  margin: *;
  position: absolute;
  width:400dip;
  height:200dip;
  background-image:url("./bg2.png");
  background-position:0 0;
  background-repeat:no-repeat;
  background-size:cover;
  horizontal-align: center;
  flow: vertical;
  vertical-align: middle;
  font-size: 10pt;
  font-family: "Segoe UI", Tahoma, sans-serif;
  z-index:0;
  color:white;
}
#title{display: block;position: absolute;top:20dip;margin: auto auto;z-index:5;}
#timeRemaining
{
  text-align: center;
  font-size: 18dip;
  width: 80%;
  position: relative;
  top:5px;
  height: 160dip;
  vertical-align: middle;
}
#day{
  font-size: 48dip;
}
#label_now
{
  display: block;
  position: absolute;
  bottom: 10dip;
  left:10dip;
  margin-bottom: 0dip;
  padding-right: 2dip;
  padding-left: 2dip;
  border:1px solid silver;
  border-radius:5dip;
  font-size:16dip;
  vertical-align: middle;
}
#label_day
{
  display: block;
  position: absolute;
  top:10dip;
  right:0px;
  margin-left:5px;
  padding-right: 5dip;
  padding-left: 5dip;
  border: 1px solid #fff;
  border-radius:15dip;
  font-size:16dip;
  vertical-align: middle;
}
#timeRemaining_date{
  position: relative;
  width:190dip;
  margin:auto auto;
  horizontal-align: center;
}